# Godot-specific ignore patterns
.import/
export/
*.import/
*.imported/
*.err/
*.pdb
*.vs
*.sln
*.csproj
*.csproj.user
*.suo
*.userprefs
*.sln.DotSettings
*.v12.suo
*.v11.suo
*.user
*.cache
*.tmp
*.tmp.*
*.bak
*.swp
*.bak.*
*.orig.*
*.orig
*~.nib/
*.swp
*.xcuserstate
profile
config
modules.cfg
*_pbox_*.png
*.apk
*.aar
*.so
*.zip
*.jar
*.aar
gen/
bin/
